# dev and test
# ------------
pytest==8.2.2
pytest_mock==3.14.0

# Code linters, formatters, and security scanners
# ------------
black==24.4.2
flake8==7.1.0
flake8-coding==1.3.2
pre-commit==3.8.0
isort==5.13.2
mypy==1.10.1
pylint==3.2.6
bandit==1.7.9
pydocstringformatter==0.7.3
tox==4.18.0
codespell==2.3.0

# production
# ------------
python-decouple==3.8
langchainhub==0.1.21
langchain-openai==0.1.23
langchain-experimental
openai>=1.40.0
langchain==0.2.11
langchain-pinecone==0.1.3
langchain-experimental
pinecone-client==5.0.0
pinecone-text==0.9.0
pydantic==2.8.2
pydantic-settings==2.4.0
python-dotenv==1.0.1
pypdf==4.3.1
tiktoken==0.7.0
